<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🎯 Affigive Admin</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                🏠 Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/tasks">
                📋 Task Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/videos">
                🎥 Video Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/entries">
                🧾 Entries Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/winners">
                🏆 Winner Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/gifts">
                🎁 Gifts Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/users">
                👤 User Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/ranks">
                🏅 Rank Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/lottie">
                🎨 Lottie Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/source-limits">
                ⚙️ Source Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/account-deletions">
                🗑️ Delete Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/faqs">
                📘 Faqs Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/support">
                💬 Support Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/youtube-videos">
                ▶️ YouTube Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AffiGive-WASM/admin/notifications">
                🔔 Notification Manager
            </NavLink>
        </div>
    </nav>
</div>
