<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AffigiveUIBalzor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
@* 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/appsettings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> App Settings API
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Task Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/videos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Video Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/entries">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Entries Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/winners">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Winner Manager
            </NavLink>
        </div>
    </nav>
</div>

